<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="connstrng" connectionString="Data Source=DESKTOP-DRQG3NB\SQLEXPRESS;Initial Catalog=Billing_System;Integrated Security=True" />
    <add name="desktop-drqg3nb\sqlexpress.Billing_System.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-DRQG3NB\SQLEXPRESS;integrated security=SSPI;initial catalog=Billing_System" />
    <add name="desktop-drqg3nb\sqlexpress.Billing_System1.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-DRQG3NB\SQLEXPRESS;integrated security=SSPI;initial catalog=Billing_System" />
  </connectionStrings>
</configuration>